doctype html
html
    head
        title("Todo List")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet")
        //- link(rel="stylesheet" href="assets/css/todos.css")
        link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
        link()
        scripts(src='assets/js/lib/jquery-3.2.1.min.js')
        scripts(src='assets/js/todos.js')
        
    body
    div#container
        h1.list#toDoList To-Do List!
        form(method="POST", action="todo/add" )
            input(type = "text",placeholder="Add New Todo", name="task")
            button.btn.btn-primary(type="submit") Submit
        ul  
            
            for data2 in data
                li= data2
              
                    span |   &nbsp;  &nbsp;  &nbsp;
                        i.fa.fa-trash(aria-hidden="true") 
            
        
         
   
   
                
        
                            
     
